* * * * * sleep 45; cd ~/__WORK__/wguard; bash bin/log-timelaps.bash
* * * * * sleep 45; cd ~/__WORK__/wguard; bash bin/log-trafic.bash
* * * * * sleep 45; cd ~/__WORK__/wguard; bash bin/log-dump.bash
* * * * * cd ~/__WORK__/wguard; bash bin/pgpush.bash
